* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----------- Nav Bar ------------- */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	background: white;

	font-size: 1.5em;
	position: sticky;
	top: 0px;
	z-index: 10;
}

/* Styling Side Bar Menu */
.menu {
	margin: 0 0.5em;
	cursor: pointer;
}

.menu-content {
	position: fixed;
	height: 100vh;
	width: 0;
	overflow: hidden;
	background-color: wheat;/*#e6e69e*/
	left: 0;
	top: 0;
	transition: 1.4s;
	-webkit-transition: 1.4s;
	-moz-transition: 1.4s;
	-ms-transition: 1.4s;
	-o-transition: 1.4s;
}

.open-side-menu{
	width: 250px;
}

.menu-content .for-left-margin {
	padding-left: 0.6em;
	display: flex;
	flex-direction: column;
}

.menu-content .for-left-margin .menu-heading {
	padding: 0.7em 0em 0.4em 0.4em  ;
	display: flex;
}

.menu-content .for-left-margin .menu-heading img {
	width: 85%;
	height: 30px;
	vertical-align: middle;
}

.menu-content .for-left-margin .menu-heading i {
	align-self: center;
	padding-left: 8px;
	position: absolute;
	top: 2px;
	left: 218px;
	z-index: 1111111;
	cursor: pointer;
}

.menu-content .for-left-margin .list {
	list-style-type: none;
	
}

.menu-content .for-left-margin .list .list-items {
	padding: 0.4em 0.4em;
	border-bottom: 2px solid transparent;
}

.menu-content .for-left-margin .list .list-items:hover {
	border-bottom: 2px solid sandybrown;
	cursor: pointer;
}

.menu-content .for-left-margin .list .list-items:hover i,
.menu-content .for-left-margin .list .list-items:hover span {
	color: sandybrown;

}

.menu-content .for-left-margin .list .list-items i {
	width: 30px;
	font-size: 22px;
	text-align: center;
}

.menu-content .for-left-margin .list .list-items span {
	padding: 0 0.4em;
	font-size: 22px;
}

.side-menu-icon{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: hidden;
	height: 100vh;
	top: 50px;
	background-color: wheat;
	width: 0;
	transition:2s ;
	-webkit-transition:2s ;
	-moz-transition:2s ;
	-ms-transition:2s ;
	-o-transition:2s ;
}

.side-menu-icon i{
	text-align: center;
}

.side-menu-icon i:hover{
	color: sandybrown;
}

.side-menu-icon-show{
	width: 50px;
	animation: fadein 2s normal 0.1s 1  forwards;
	-webkit-animation: fadein 2s normal 0.1s 1  forwards;
}

@keyframes fadein{
	0%{
		width: 0;
	}
	50%{
		width: 0;
	}
	100%{
		width: 50px;
	}
}


/* ------------Menu Style End-------------- */



/* -----------Cart Style Start---------- */
.cart {
	margin: 0 0.5em;
	position: relative;
	cursor: pointer;
}

.cart i {
	font-size: 1.3em;
}

.cart .count {
	position: absolute;
	top: -8px;
	right: -8px;
	background: wheat;
	padding: 0 4px;
	border-radius: 30%;
	font-size: 0.9em;
	/*border: 2px solid blue;*/
}

/* ----------- Nav Bar Ends ------------- */

/* ------------- Header Starts Here----------- */
.header {
	height: calc(100vh - 50px);
	background: url(./images/hero-bcg.jpeg) center/cover no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .home {
	padding: 2em;
	background-color: rgba(247, 247, 247, 0.77);
	;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* width: 50%; */
}

.header .home h1 {
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: 0.18em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.header .home .btn:hover {
	background-color: rgba(247, 247, 247, 0.77);
	color: black;
}

/* ------------- Header Ends Here----------- */

/* ------------- Products Start Here----------- */
.products {
	display: flex;
	justify-content: space-around;
	width: 90vw;
	margin: auto;
	margin-top: 1.5em;
	flex-wrap: wrap;
}

.products .single-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
	min-width: 290px;
}

.products .image {
	position: relative;
}

.products .image img {
	width: 150px;
	height: 100px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	filter: contrast(1);
	-webkit-filter: contrast(1);
}

.products .image img:hover {
	opacity: 0.5;
}

.products .image h3 {
	text-transform: capitalize;
	cursor: pointer;
	position: absolute;
	bottom: 8px;
	right: 0px;
	background: #ffecec7d;
	padding: 0.1em 0.2em;
	width: 0;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.products .single-product .image:hover h3 {
	width: 90%;
	opacity: 1;
}

.products .image h3 i {
	margin-right: 0.3em;
}

.products h2 {
	font-size: 1.5em;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin: 0.5em 0;
	font-weight: 400;
}

.products h4 {
	font-size: 1em;
}

/* ------------- Products Ends Here----------- */


/* ------- Cart Start ------- */
.cart-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	background: wheat;
	display: flex;
	justify-content: flex-start;
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-ms-transition: 1.5s;
	-o-transition: 1.5s;
	opacity: 0;
	flex-direction: column;
	white-space: nowrap;
}

.cart-sidebar .cart-items {
	overflow-y: auto;
	scrollbar-color: red;
}

.cart-sidebar .cart-items::-webkit-scrollbar {
	width: 4px;
	height: 3px;

}

.cart-sidebar .cart-items::-webkit-scrollbar-thumb {
	width: 5px;
	height: 6px;
	background: #22212138;
	border-radius: 45%;
}

.cart-sidebar-open {
	width: 20%;
	opacity: 1;
	z-index: 111;
}

.cart-sidebar::after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 80%;
	height: 100%;
	background-color: #3f3f3b54;

}

.cart-sidebar .head-close-cart h1 {
	align-items: center;
	text-transform: uppercase;
	margin: 1em 0;
	width: 80%;
	margin: 1em auto;
	margin-bottom: 0.5em;
}

.cart-sidebar .head-close-cart i {
	position: absolute;
	top: 5px;
	left: 8px;
	cursor: pointer;
}

.cart-sidebar .cart-items-parent {
	display: grid;
	grid-template-columns: 2fr 6fr 1fr;
	grid-gap: 0.5em;
	width: 90%;
	margin: 0 auto;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.cart-sidebar .cart-items-parent .cart-image {
	width: 100%;
	height: 91%;
	align-self: center;
}

.cart-sidebar .cart-items-parent .cart-image img {
	width: inherit;
	height: inherit;
}

.cart-sidebar .cart-items-parent .title-remove {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-transform: capitalize;
	word-break: break-all;
}

.cart-sidebar .cart-items-parent .title-remove .price {
	margin: 0.2em 0;
}

.cart-sidebar .cart-items-parent .title-remove .remove-item {
	display: inline-block;
	cursor: pointer;
}

.cart-sidebar .cart-items-parent .arrows-amount {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.cart-sidebar .cart-end {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.cart-sidebar .cart-end .total-amount {
	margin-bottom: 0.5em;
	letter-spacing: 2px;
}

.btn {
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.7em 1.2em;
	letter-spacing: 3px;
	background: none;
	background-color: #e18f37c4;
	outline: none;
	border: 1px solid #e18f37c4;
	transition: all 0.8s linear;
	-webkit-transition: all 0.8s linear;
	-moz-transition: all 0.8s linear;
	-ms-transition: all 0.8s linear;
	-o-transition: all 0.8s linear;
	cursor: pointer;
	font-weight: 800;
	color: white;
}

.btn:hover {
	background: transparent;
	transform: scale(1.01, 1.01);
	-webkit-transform: scale(1.01, 1.01);
	-moz-transform: scale(1.01, 1.01);
	-ms-transform: scale(1.01, 1.01);
	-o-transform: scale(1.01, 1.01);
}

@media only screen and (max-width:800px) {
	.cart-sidebar {
		width: 0;
		width: 225px;
	}

	.cart-sidebar-open {
		width: 225px;
	}

	.cart-sidebar::after {
		width: calc(100% - 225px);
	}
}

@media only screen and (max-width:300px) {
	.cart-sidebar {
		width: 0;
		width: 100%;
	}

	.cart-sidebar-open {
		width: 100%;
	}

	.cart-sidebar::after {
		width: 0;
	}
}

/* ------- Cart Ends ------- */


/* ------------Utility Classes---------- */
[active]{
	color: sandybrown;
}
.list-items[active]{
	border-bottom: 2px solid sandybrown !important;
}